<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bold - Multipurpose Template</title>
        <meta name="description" content="Multipurpose bootstrap template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,600,700" rel="stylesheet">

        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/icons/favicon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/icons/faviconx57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/faviconx72.png">

        <!-- Modernizr -->
        <script src="assets/js/modernizr.js"></script>
    </head>
    <body class="side-menu-body">
        <div id="page-loader">
            <div class="sk-double-bounce">
                <div class="sk-child sk-double-bounce1"></div><!-- End .sk-child -->
                <div class="sk-child sk-double-bounce2"></div><!-- End .sk-child -->
            </div><!-- End .sk-double-bounce -->
        </div><!-- End #page-loader -->
        
        <div id="wrapper">
            <header class="header header4">
                <div class="header-wrapper">
                    <div class="header-top">
                        <a href="index.html" class="site-logo" title="Bold - Multipurpose Template">
                            <img src="assets/images/logo.png" data-rjs="3" alt="Bold Logo">
                            <span class="sr-only">Bold</span>
                        </a>
                    </div><!-- End .header-top -->
                    <button type="button" class="sidemenu-toggle">
                        <span class="toggle-text">Menu</span>
                        <span class="toggle-wrapper">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                    </button>

                    <div class="header-inside">
                        <button type="button" class="sidemenu-toggle">
                            <span class="toggle-text">Menu</span>
                            <i class="fa fa-times"></i>
                        </button>
                        <nav class="header-inside-wrapper">
                            <ul class="metismenu side-menu">
                                <li class="active">
                                    <a href="#" aria-expanded="false">Homepages<span class="fa arrow"></span></a>
                                    <ul aria-expanded="false">
                                        <li>
                                            <a href="#" aria-expanded="false">Business <span class="fa arrow"></span></a>
                                            <ul aria-expanded="false">
                                                <li><a href="index.html">Business - Version 1</a></li>
                                                <li><a href="index2.html">Business - Version 2</a></li>
                                                <li><a href="index3.html">Business - Version 3</a></li>
                                                <li><a href="index4.html">Business - Version 4</a></li>
                                                <li><a href="index5.html">Business - Version 5</a></li>
                                                <li><a href="index6.html">Business - Version 6</a></li>
                                                <li><a href="index7.html">Business - Version 7</a></li>
                                                <li><a href="index8.html">Business - Version 8</a></li>
                                                <li><a href="index9.html">Business - Version 9</a></li>
                                                <li><a href="index10.html">Business - Version 10</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" aria-expanded="false">Shop <span class="fa arrow"></span></a>
                                            <ul aria-expanded="false">
                                                <li><a href="index-shop.html">Shop - Version 1</a></li>
                                                <li><a href="index-shop2.html">Shop - Version 2</a></li>
                                                <li><a href="index-shop3.html">Shop - Version 3</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" aria-expanded="false">Blog <span class="fa arrow"></span></a>
                                            <ul aria-expanded="false">
                                                <li><a href="index-blog.html">Blog - Version 1</a></li>
                                                <li><a href="index-blog2.html">Blog - Version 2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" aria-expanded="false">Portfolio <span class="fa arrow"></span></a>
                                            <ul aria-expanded="false">
                                                <li><a href="index-portfolio.html">Portfolio - Version 1</a></li>
                                                <li><a href="index-portfolio2.html">Portfolio - Version 2</a></li>
                                                <li><a href="index-portfolio3.html">Portfolio - Version 3</a></li>
                                                <li><a href="index-portfolio4.html">Portfolio - Version 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" aria-expanded="false">Photography <span class="fa arrow"></span></a>
                                            <ul aria-expanded="false">
                                                <li><a href="index-photography.html">Photography - Version 1</a></li>
                                                <li><a href="index-photography2.html">Photography - Version 2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" aria-expanded="false">Onepage <span class="fa arrow"></span></a>
                                            <ul aria-expanded="false">
                                                <li><a href="index-onepage.html">Onepage - Version 1</a></li>
                                                <li><a href="index-onepage2.html">Onepage - Version 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="category-left-sidebar.html">Shop</a></li>
                                <li><a href="portfolio-grid-4col.html">Portfolio</a></li>
                                <li><a href="blog-masonry-4col.html">Blog</a></li>
                                <li>
                                    <a href="#" aria-expanded="false">Pages <span class="fa arrow"></span></a>
                                    <ul aria-expanded="false">
                                        <li><a href="#">Subpage 1</a></li>
                                        <li><a href="#">Subpage 2</a></li>
                                        <li><a href="#">Subpage 3</a></li>
                                        <li><a href="#">Subpage 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav><!-- End .header-inside-wrapper -->
                    </div><!-- End .header-inside -->

                    <div class="header-footer">
                        <div class="social-icons">
                            <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                            <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="social-icon" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="social-icon" title="Youtube"><i class="fa fa-youtube"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .header-footer -->

                </div><!-- End .header-wrapper -->
            </header><!-- End .header -->
            
            <div class="main">
                <div class="page-header largest parallax custom text-center" style="background-image:url(assets/images/page-header-bg.jpg)" data-0="background-position:50% 50%;" data-top-bottom="background-position:50% 100%">
                    <div class="container-fluid">
                        <h1>Elements <small>(Header 10)</small></h1>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">Header Version 10</li>
                        </ol>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->

                <div class="container-fluid">

                    <div class="mb200"></div><!-- margin -->
                    <div class="mb200"></div><!-- margin -->
                </div><!-- End .container-fluid -->

                <div class="mb100"></div><!-- margin -->
            </div><!-- End .main -->

            <footer class="footer text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                                    <div class="widget about-widget">
                                        <img src="assets/images/footer-logo.png" class="footer-logo mb0" alt="Bold Logo">
                                        <hr>
                                        <p class="mb0">We create themes and templates with bootstrap. We work with passion to provide you better services.</p>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->
                            
                            <div class="row">
                                <div class="col-xs-4 col-xss-12">
                                    <div class="widget">
                                        <h4 class="widget-title">Company</h4>
                                        <ul class="fa-ul">
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Latest News</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-xs-4 -->
                                <div class="col-xs-4 col-xss-12">
                                    <div class="widget">
                                        <h4 class="widget-title">Policy</h4>
                                        <ul class="fa-ul">
                                            <li><a href="#">Privacy</a></li>
                                            <li><a href="#">Cookies</a></li>
                                            <li><a href="#">Trademarks</a></li>
                                            <li><a href="#">Terms of use</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-xs-4 -->
                                <div class="col-xs-4 col-xss-12">
                                    <div class="widget">
                                        <h4 class="widget-title">Learn</h4>
                                        <ul class="fa-ul">
                                            <li><a href="#">Order Tracking</a></li>
                                            <li><a href="#">Locations</a></li>
                                            <li><a href="#">Return Policy</a></li>
                                            <li><a href="#">Sales &amp; Support</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-xs-4 -->
                            </div><!-- End .row -->

                            <div class="widget text-center">
                                <div class="social-icons circle mb0">
                                    <label>Find Us:</label><br>
                                    <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                                    <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                                    <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                                    <a href="#" class="social-icon" title="Snapchat"><i class="fa fa-snapchat"></i></a>
                                    <a href="#" class="social-icon" title="Vine"><i class="fa fa-vine"></i></a>
                                </div><!-- End .social-icons -->
                            </div>
                        </div><!-- End .col-md-8 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->

                <div class="footer-bottom text-center">
                    <div class="container-fluid">
                        <div class="footer-left">
                            <ul class="footer-menu">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">FaQS</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div><!-- End .footer-left -->

                        <div class="footer-right">
                            <p class="copyright"><strong>Bold</strong> multipurpose template - All rights reserved - 2016 &copy; Made by <a href="http://eonythemes.com" target="_blank" title="eonythemes">eonythemes</a>.</p>
                        </div><!-- End .footer-right -->
                    </div><!-- End .container-fluid -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End #wrapper -->
        
        <a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>

        <!-- End -->
        <script src="assets/js/plugins.min.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>