/* Login/Register user pages */
.user-form-page {
	#wrapper {
		min-height:100vh;
		padding: 6rem 0;
	}
}

.user-form-container {
	max-width:420px;
	margin:0 auto;
	padding:1.5rem 1rem;

	@media (min-width: $minmqsm) {
		padding:1.5rem;
	}

	@media (min-width: $minmqmd) {
		padding:2rem;
	}

	&.register-form {
		max-width:720px;
	}
}