/* Header Version 2 */
.header.header2 {
	&:after {
		content:'';
		display:table;
		clear:both;
	}

	.navbar-collapse {
		@media (min-width: $minmqsm) {
			float:right;
			position: static !important;
		}

		@media (min-width: $minmqsm) and (max-width: $maxmqmd) {
			display:block;
			float:left;
			width:100%;
		}
	}

	.dropdown.cart-dropdown {
		+ .navbar-toggle {
			@media (max-width: $maxmqsm) {
				margin-right: 1rem;
			}

			@media (max-width: $maxmqxs) {
				margin-right: 0.5rem;
			}

			@media (max-width: $maxmqxss) {
				margin-right: 0.3rem;
			}
		}

		> a {
			@media (max-width: $maxmqsm) {
				padding-left:1rem;
			}

			@media (min-width: $minmqmd) {
				padding-left:1.5rem;
			}
		}
	}

	.navbar-nav {
		> li {
			@media (min-width: $minmqsm) {
				padding-bottom:0.75rem;
			}

			@media (min-width: $minmqmd) {
				padding-top:2.7rem;
				padding-bottom:2.7rem;
			}
			> a {
				@media (min-width: $minmqsm) {
					border-radius: $radius*3;
					padding-top:0.5rem;
					padding-bottom:0.5rem;
					position: relative;

					&:before {
						display:none;
					}
				}
			}

			&.open,
			&.active {
				> a {
					&,
					&:hover,
					&:focus, {
						color: #fff;
						background: $first-color;
					}
				}
			}
		}

		.dropdown-menu.megamenu {
			@media (min-width: $minmqsm) {
				left:15px;
			}

			@media (min-width: $minmqlg) {
				left:30px;
				right:30px;
			}
		}
	}

	.navbar-toggle {
		margin-top: 2.9rem;
		margin-bottom: 2.9rem;
		float:right;
		padding:0.25rem 0.7rem;

		@media (max-width: $maxmqxs) {
			padding:0.55rem 0.5rem;
		}

		.toggle-text {
			@media (max-width: $maxmqxs) {
				display:none;
			}
		}
	}
}

// This will prevent to menu to break a new line
.header.header2.straight-sm .navbar-collapse {
	@media (max-width: $maxmqmd) and (min-width: $minmqsm) {
		float:right !important;
		width: auto;

		.navbar-nav > li {
			padding-top: 2.8rem;
			padding-bottom: 2.8rem;
		}
	}
}

/* No bg absolute position over elements */
.header.header2.transparent {
	background-color: transparent;
	position: absolute;
	left:0;
	top:0;
	right:0;
	z-index:999;
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);

	&.half {
		background-color: rgba(255, 255, 255, 0.3);
	}

	&.light {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		&.half {
			background-color: rgba(0, 0, 0, 0.3);
		}

		.navbar-nav {
			> li {
				> a {
					@media (min-width: $minmqsm) {
						color: #fff;
					}
				}
				&.open,
				&.active {
					> a {
						&,
						&:hover,
						&:focus, {
							@media (min-width: $minmqsm) {
								background: #fff;
								color: $first-color;
							}
						}
					}
				}
			}
		}
	}
}